@infragistics:registry=https://packages.infragistics.com/npm/js-licensed/
//packages.infragistics.com/npm/js-licensed/:_auth=YXBpOmViOWZxKG5vIGRlc2NyaXB0aW9uKTM2MDIwMjIwMjE3MDA1NDQ5ZDA5NTNjMzE2YjBm
//packages.infragistics.com/npm/js-licensed/:username=lohithreddy.nanuvala@securitybenefit.com
//packages.infragistics.com/npm/js-licensed/:always-auth=true

