<div class="row">
    <ul class="nav nav-tabs">
        <li *ngIf="metaDataService.isAdmin || metaDataService.isMO" routerLinkActive="active">
            <a routerLink="ReferenceData">Reference Data</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="Metadata"> Metadata</a>
        </li>
        <li *ngIf="metaDataService.isAdmin || metaDataService.isMO" routerLinkActive="active">
            <a routerLink="Useraccess"> UserAccess</a>
        </li>
        <li *ngIf="metaDataService.isAdmin || metaDataService.isMO" routerLinkActive="active">
            <a routerLink="Rules"> Rules</a>
        </li>
    </ul>
</div>

<div class="row">
    <router-outlet></router-outlet>
</div> 