.datePicker {
  padding-left:10px;
  margin-top: -20px;
}

.securityBtn {
  text-align: right;
}

.firstDiv {
  margin-left: 7px;
}

.grid-container{
    margin-top:10px;
}

.title-bar {
    background-color: #337ab7;
    color: white;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    width: 100%;
}

.title {
    font-size: larger;
    padding-left: 10px;
    margin-top: -25px;
    margin-bottom: -25px;
}

.table> :not(caption)>*>* {
    padding: 5px;
}

.table td {
    font-size: 13px;
}

.table tr {
    font-size: 13px;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}

a {
    color: #337ab7;
    text-decoration: none;
}

.datе-picker-wrapper {
    padding: 1rem;
    max-width: 600px;
}


::ng-deep {
    .igx-grid-thead__item .igx-grid-thead__title {
        justify-content: center;
    }

    .igx-grid__tr--odd {
        background: #f2f2f2 !important;
    }

    .igx-grid__td,
    .igx-grid-thead__title,
    .igx-grid-th {
        font-size: 13px;
    }

    .igx-dialog__window-content {
        padding: 10px;
    }

    .igx-group-label__icon {
        display: none;
    }

    .igx-badge__value {
        color: white;
    }

}

.button-row {
    display: flex;
    padding-left: 11rem;
}

.btnExportData {
    float: right;
    position: relative;
    margin-top: -38px;
}