<igx-grid #grid [data]="auditData" [width]="'100%'" [height]="'700px'" [rowHeight]="'20px'" [autoGenerate]="false"
    [allowFiltering]="true" [displayDensity]="'cosy'">
    <igx-paginator [perPage]="25">
        <igx-paginator-content>
            <igx-page-size></igx-page-size>
            <div>Total Items:<span class="spanTotalRecords"> {{ auditData.length }}</span></div>
            <igx-page-nav></igx-page-nav>
        </igx-paginator-content>
    </igx-paginator>
    <igx-column [field]="'Id'" [header]="'ID'" [width]="'6%'"></igx-column>
    <igx-column [field]="'UserName'" [header]="'User Name'" [dataType]="'string'"></igx-column>
    <igx-column [field]="'FullName'" [header]="'Full Name'" [dataType]="'string'"></igx-column>
    <igx-column [field]="'Initials'" [header]="'Initials'" [dataType]="'string'"></igx-column>
    <igx-column [field]="'AccessLevel'" [header]="'Access Level'" [dataType]="'string'"></igx-column>
    <igx-column [field]="'Role'" [header]="'Role'" [dataType]="'string'"></igx-column>
    <igx-column [field]="'UpdatedTime'" [header]="'Updated Time'" [dataType]="'date'" [pipeArgs]="dateTimePipeArgs"></igx-column>
    
    <igx-column [field]="'UpdatedUser'" [header]="'Updated User'" [dataType]="'string'"></igx-column>
</igx-grid>

