// nav
ul.nav.nav-tabs {
    list-style: none;
    padding: 7px;
    margin-top: 5px;
}

/* Style for tab links */
ul.nav.nav-tabs li a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    padding: 10px 15px;
    /* Adjust padding as needed */
    color: #337ab7;
    /* Tab text color */
    text-decoration: none;
    background-color: transparent;
}

/* Style for non-active tabs on hover */
ul.nav.nav-tabs li:not(.active):hover a {
    background-color: #f5f5f5;
    /* Grayish background color on hover for non-active tabs */
    border-color: #ddd;
    /* Grayish border color on hover for non-active tabs */
    color: #333;
    /* Tab text color on hover for non-active tabs */
    border-bottom: none;
}

/* Style for the active tab */
ul.nav.nav-tabs li.active a,
ul.nav.nav-tabs li.active a:focus,
ul.nav.nav-tabs li.active a:hover {
    color: #555;
    /* Tab text color for active tab */
    cursor: default;
    background-color: #fff;
    /* Background color for active tab */
    border: 1px solid #ddd;
    /* Border for active tab */
    border-bottom: none;
}